.main-body{
    display: flex;
    flex-wrap: wrap;
}

.content-left{
    height: 550px;
    width: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right{
    height: 550px;
    width: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.lineUp {
    animation: 2s anim-lineUp ease-out infinite;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }



.typed-out{
    overflow: hidden;
    border-right: .10em solid rgb(0, 0, 0);
    white-space: nowrap;
    animation: typing 4.5s steps(50, end) forwards;
    font-size: 4.5rem;
    font-weight: bold;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

.title-content{
    font-size: 4.5rem;
    font-weight: bold;
}  

.content-para{
    font-size: 2.2rem;
}



@media only screen and (max-width: 800px) {
    .main-body{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
  }


.btn-style{
  width: 120px;
  height: 40px;
  background-color: rgb(241, 39, 127);
  color: white;
}
.btn-style:hover{
  background-color: rgb(241, 39, 127);
  color: white;
}  